
* {
  box-sizing: border-box;
}


/*-------------------------  Body ---------------------------------*/

body {
  background-color: #fcdb00;
}


/*------------------  First Container ------------------------------*/




/*------------------------  Header  ---------------------------------*/

#title a {
  color: black;
  text-decoration: none;
}

/*header {
  margin-bottom: 90px;
}*/

#title {
  display: inline;
}

header {
  padding-top: 40px;
}

#logo {
  padding-right: 15px;
  margin-bottom: 10px;
}


/*--------------------  Navigation Menu  -------------------------*/

.nav-menu li {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  display: inline;
  margin: 40px;
  font-size: 22px;
  font-weight: bold;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  -webkit-font-smoothing: antialiased;
}

 .nav-menu {
  display: inline;
  float: right;
 }

.section1 {
  margin-top: 100px;
}

.section1 p {
  color: #555555;
  font-size: 16px;
}

#inspire {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 35px;
  color: #010101;
}

#simple {
  padding-bottom: 20px;
  color: #676330;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}



#logos-system {
  margin-top: 50px;
}

#macos  {
  margin-right: 40px;
}

#android {
  margin-right: 40px;
}

.white-page {
  background-color: white;
  margin-top: 100px;
  padding-bottom: 110px;
}
#tablet {
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}

.yellow-page {
  background-color: #fcdb00;
  padding-bottom: 130px;
}

.features {
  text-align: center;
  margin-top: 100px;
}

.features h2 {
  font-weight: bold;
  color: #010101;
}

.features h4 {
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px;
}

.details {
  margin-top: 70px;
}


footer {
  background-color: #000;
  padding-bottom: 100px;
}

.details h3 {
  font-family: 'PT Sans', sans-serif;
}

.details p {
  font-family: 'PT Sans', sans-serif;
  color: #929292;
  font-size: 16px;
}

.first-items {
  margin-bottom: 50px;
}

.logos-features {
  margin-right: 20px;
  margin-top: 22px;
}

.black-page h1 {
  margin-top: 90px;
  margin-bottom: 20px;
  color: #fcdb00;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.black-page p {
  color: #676767;
  text-align: center;
  font-size: 20px;
}

.social-media {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 120px;
}

.social-media img {
  margin-right: 25px;
}

.button1 {
  background-color:#fcdb00;
  width: 120px;
  height: 45px;
  margin-right: 200px;
  margin-top: 30px;
  color: #010101;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif;
  float: right;
  border: white;
  border-radius: 5px;
  display: inline-block;
}

.nav-menu2 ul {
  display: inline-block;
  margin-right: 20px;
  vertical-align:top;

/*  float: right;
*/}

.nav-menu2 {
  display: inline-block;
}

.nav-menu2 li {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  color: #d4d4d4;
  font-size: 16px;
  margin-right: 35px;
}

.nav-menu2 a {
  text-decoration: none;
  color: #d4d4d4;
}

#info {
  text-align: left;
  color: #d4d4d4;
  display: inline-block;
  margin-right: 150px;
}

.enter-mail {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    display: inline-block;
    width: 600px;
    margin: 30px 0 30px 190px;

  }

form {
  display: inline-block;
}


